@{
    ViewData["Title"] = "Khách sạn";
    Layout = "~/Views/Shared/_Detail.cshtml";
}

<div class="search-tabs" id="search-tabs-3">
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-12 no-pd-l">
                <div class="welcome-message">
                    <h2>LỰA CHỌN KỲ NGHỈ DƯỠNG TUYỆT VỜI</h2>
                    <p>
                        💥 Bạn đang tìm kiếm một địa điểm du lịch đẹp và thú vị để khám phá? <br />
                        👉 Nhiều địa điểm du lịch đầy màu sắc, nơi bạn có thể tận hưởng thiên nhiên hoang dã, tham gia các hoạt động giải trí và thưởng thức ẩm thực đặc trưng của địa phương
                    <p> ⚡️  Hãy đến và trải nghiệm cùng HANOITOUR của chúng tôi! </p>
                    <a href="@Url.Action("DanhMucKhachSan","KhachSan")" class="btn btn-w-border">Xem ngay</a>

                    <div class="search-container">
                        <div class="input-group search-box">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" class="form-control" placeholder="Bạn muốn đi đâu?">
                        </div>

                        <div class="search-options">
                            <!-- Chọn ngày đi và ngày về -->
                            <div class="search-date">
                                <div class="date-box">
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" placeholder="19 tháng 03 - Thứ tư">
                                </div>
                                <span class="night-count">1 đêm</span>
                                <div class="date-box">
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" placeholder="20 tháng 03 - Thứ năm">
                                </div>
                            </div>

                            <!-- Chọn số người và số phòng -->
                            <div class="search-people">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="2 người lớn, 0 trẻ em">
                                <span class="room-count">1 Phòng</span>
                            </div>
                        </div>

                        <!-- Nút tìm kiếm -->
                        <button type="submit" class="btn btn-warning search-btn">Tìm</button>
                    </div>

                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end search-tabs -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-heading white-heading">
                    <h2 style="color:black;">DANH MỤC CÁC TOUR MỚI</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->
                @if (Model != null && Model.KhachSansTrongNuoc.Any())
                {
                    <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-hotel-offers">
                        @foreach (var tour in Model.KhachSansTrongNuoc)
                        {
                            <div class="item">
                                <div class="tour-card">
                                    <div class="tour-img-container">
                                        <a href="@Url.Action("ChiTietKhachSan","KhachSan",new {maKhachSan = tour.MaKhachSan, maLoai = tour.MaLoaiKhachSan})">
                                            <img src="@Url.Content($"~/hinhanh/{tour.HinhAnh1}")" class="img-responsive" alt="@tour.TenKhachSan" />
                                        </a>
                                    </div>
                                    <div class="tour-info">
                                        <h4>
                                            <a href="@Url.Action("ChiTietTour","Tour",new {maTour = tour.MaKhachSan, maLoai = tour.MaLoaiKhachSan})">@tour.TenKhachSan</a>
                                        </h4>
                                        <div class="tour-duration-container">
                                            <div class="tour-duration">
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                <div>@($"{tour.SoNgay}")</div>
                                            </div>
                                            <div class="transportation-icons">
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <i class="fa fa-train" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="tour-highlights">
                                            <div>@($"Điểm đến: {tour.DiaDiem}")</div>
                                        </div>
                                        <div class="tour-price">
                                            <div>@tour.GiaKhachSan.ToString("#,##0") VNĐ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p class="text-center danger">Không có tour mới nào để hiển thị.</p>
                }

                <div class="view-all text-center">
                    <a href="@Url.Action("DanhMucKhachSan","")" class="btn btn-orange">Xem nhiều hơn</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hotel-offers -->